<table *ngIf="dogs?.length > 0; else no_results" id="dogstable">
  <thead>
    <tr>
      <th scope="col" style="text-align:center">Name</th>
      <th scope="col" style="text-align:center">Breed</th>
      <th scope="col" style="text-align:center">Description</th>
      <th scope="col" style="text-align:center">Date of Birth</th>
      <th scope="col" style="text-align:center">Location</th>
      <th scope="col" style="text-align:center">Size</th>
      <th scope="col" style="text-align:center">Interests</th>
      <th scope="col" style="text-align:center">
        <button *ngIf="!isSearch" (click)="handleNavigateToCreateEdit('new')" class="btn btn-primary">Add Dog</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td style="text-align:left">{{ dog.name }}</td>
      <td style="text-align:left">{{ dog.breed }}</td>
      <td style="text-align:left">DESCRIPTION</td>
      <td style="text-align:left">DOB</td>
      <td style="text-align:left">LOCATION</td>
      <td style="text-align:left">SIZE</td>
      <td style="text-align:left">INTERESTS</td>
      <td style="text-align:center"><button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div></td>
    </tr>
  </tbody>
</table>

<ng-template #no_results>No results found.</ng-template>