<table *ngIf="dogs?.length > 0; else no_results" id="dogstable">
  <thead>
    <tr>
      <th scope="col" style="text-align:center">Name</th>
      <th scope="col" style="text-align:center">Breed</th>
      <th scope="col" style="text-align:center">Description</th>
      <th scope="col" style="text-align:center">Date of Birth</th>
      <th scope="col" style="text-align:center">Location</th>
      <th scope="col" style="text-align:center">Size</th>
      <th scope="col" style="text-align:center">Interests</th>
      <th scope="col" style="text-align:center">
        <button *ngIf="!isSearch" (click)="handleNavigateToCreateEdit('new')" class="btn btn-primary">Add Dog</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td style="text-align:left">{{ dog.name }}</td>
      <td style="text-align:left" *ngIf="dog.breed; else none">{{ dog.breed }}</td>
      <td style="text-align:left" *ngIf="dog.description; else none">{{ dog.description }}</td>
      <td style="text-align:left" *ngIf="dog.dateOfBirth; else none">{{ dog.dateOfBirth }}</td>
      <td style="text-align:left" *ngIf="dog.location; else none">{{ dog.location }}</td>
      <td style="text-align:left" *ngIf="dog.sizeId; else none">{{ dog.sizeId }}</td>
      <td style="text-align:left" *ngIf="dog.interests; else none">{{ dog.interests }}</td>
      <td style="text-align:center"><div class="btn-group dropright">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select
        </button>
        <div class="dropdown-menu">
        <button class="dropdown-item" (click)="handleNavigateToCreateEdit(dog.id)">Edit Dog</button>
        <button class="dropdown-item" (click)="handleNavigateToFriends(dog.id)">See Friendships</button>
        </div></div></td>
    </tr>
  </tbody>
</table>

<ng-template #no_results>No results found.</ng-template>
<ng-template #none><td style="text-align:left">None</td></ng-template>