<h1><b>Friendships</b></h1>

<table id="friendstable">
    <thead>
        <tr>
            <th scope="col" style="text-align:center">Friend Name</th>
            <th scope="col" style="text-align:center">Friendship Type</th>
            <th scope="col" style="text-align:center">Date Added</th>
            <th scope="col" style="text-align:center">
                <button class="btn btn-primary">Add Friendship</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let friendship of friendships">
            <td style="text-align:left">{{ friendship.dogOneName != dog.name ? friendship.dogOneName : friendship.dogTwoName }}</td>
            <td style="text-align:left">{{ friendship.friendshipTypeId | appFriendShipTypeText }}</td>
            <td style="text-align:left">{{ friendship.dateAdded }}</td>
        </tr>
    </tbody>
</table>