<h1><b>Friendships</b></h1>

<table id="friendstable">
    <thead>
        <tr>
            <th scope="col" style="text-align:center">Friend Name</th>
            <th scope="col" style="text-align:center">Friendship Type</th>
            <th scope="col" style="text-align:center">Date Added</th>
            <th scope="col" style="text-align:center">
                <button class="btn btn-primary" (click)="handleNavigateToCreateEdit(dogId + '/new')">Add Friendship</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let friendship of friendships">
            <td style="text-align:center">{{ friendship.dogOneName != dog.name ? friendship.dogOneName : friendship.dogTwoName }}</td>
            <td style="text-align:center">{{ friendship.friendshipTypeId | appFriendShipTypeText }}</td>
            <td style="text-align:center">{{ friendship.dateAdded }}</td>
            <td style="text-align:center"><button class="btn btn-primary" (click)="handleNavigateToCreateEdit(dogId + '/' + friendship.id)">Edit Friendship</button></td>
        </tr>
    </tbody>
</table>