#friendstable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #friendstable td {
    border: 1px solid rgb(8, 20, 66);
    padding: 8px;
  }
  
  #friendstable tr:nth-child(even){background-color: #f2f2f2;}
  
  #friendstable tr:hover {background-color: #ddd;}
  
  #friendstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(5, 21, 124);
    color: white;
  }