<h1>{{ header }}</h1>

<div *ngIf="formGroup" [formGroup]="formGroup">
  <div class="row">
    <div class="col" style="position: relative; text-align: center;">
      <button style="position: absolute; bottom: 0; right:100;" (click)="handleDelete()" class="btn btn-danger">Delete</button>
    </div>
    <div class="col">
      <label for="name" class="form-label">Name</label>
      <select class="form-control form-select" id="name" formControlName="name">
        <option *ngFor="let dog of dogs" [value]="dog.id">{{ dog.name }}</option>
      </select>
    </div>
    <div class="col">
      <label for="friendship" class="form-label">Friendship</label>
      <select class="form-control form-select" id="friendship" formControlName="friendship">
        <option *ngFor="let friendshipType of friendshipTypes | keyvalue" [value]="friendshipType.key">{{ friendshipType.value }}</option>
      </select>
    </div>
    <div class="col" style="position: relative;">
      <button style="position: absolute; bottom: 0; right:100;" (click)="handleCreateEdit()" class="btn btn-primary">{{ buttonText }}</button>
    </div>
  </div>
  <br />
</div>
