<h1>{{ header }}</h1>

<div *ngIf="formGroup" [formGroup]="formGroup">
  <div class="row">
    <div class="col">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Dog's Name">
    </div>
    <div class="col">
      <label for="breed" class="form-label">Breed</label>
      <input type="text" class="form-control" id="breed" formControlName="breed" placeholder="Dog's Breed">
    </div>
  </div>
  <br />
  <div>
    <label for="description" class="form-label">Description</label>
    <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Dog Description"></textarea>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label for="dateOfBirth" class="form-label">Date of Birth</label>
      <input type="text" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Dog's Date of Birth">
    </div>
    <div class="col">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" id="location" formControlName="location" placeholder="Dog's Location">
    </div>
  </div>
  <br />
  <div>
    <label for="interests" class="form-label">Interests</label>
    <textarea type="text" class="form-control" id="interests" formControlName="interests" placeholder="Dog's Interests"></textarea>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label for="size" class="form-label">Size</label>
      <select class="form-control form-select" id="sizeId" formControlName="sizeId">
        <option [value]="Size.XS">Extra Small</option>
        <option [value]="Size.S">Small</option>
        <option [value]="Size.M">Medium</option>
        <option [value]="Size.L">Large</option>
        <option [value]="Size.XL">Extra Large</option>
      </select>
    </div>
    <div class="col" style="position: relative;">
      <button style="position: absolute; bottom: 0; position:absolute;" (click)="handleCreateEdit()" class="btn btn-primary">{{ buttonText }}</button>
    </div>
  </div>
  <br />
</div>
